@font-face {
  font-weight: 300;
  font-family: "GothamPro";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/GothaProLig.woff2") format("woff2"), url("../fonts/GothaProLig.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "GothamPro";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/GothaProReg.woff2") format("woff2"), url("../fonts/GothaProReg.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}
